//<ПЕРЕМЕННЫЕ>===========================================================================================================

$fontFamily: "Montserrat";

$width1024: 1024;
$width768: 768;
$width320: 320;
$width480: 480;
$maxWidth: 1024;
$minWidth: 320;

$c-Dark: #000000;
$c-Light: #ffffff;
$c-Gray: #808080;
$main-border-radius: 20px;

//</ПЕРЕМЕННЫЕ>===========================================================================================================
